<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Argument for the first camera -->
    <arg name="camera_name_1" default="/dev/video0"/>
    <!-- Argument for the second camera -->
    <arg name="camera_name_2" default="/dev/video2"/>

    <!-- Node for the first camera -->
    <node name="my_webcam_1" pkg="testpackage" type="image_publisher_launch.py" output="screen" args="$(arg camera_name_1) /image_raw_1">
        <param name="camera_name" type="string" value="$(arg camera_name_1)" />
    </node>

    <!-- Node for the second camera -->
    <node name="my_webcam_2" pkg="testpackage" type="image_publisher_launch.py" output="screen" args="$(arg camera_name_2) /image_raw_2">
        <param name="camera_name" type="string" value="$(arg camera_name_2)" />
    </node>

    <!-- Subscriber node for the first camera -->
    <node name="image_subscriber_1" pkg="testpackage" type="image_subscriber.py" args="/image_raw_1" output="screen">
        <param name="topic_name" type="string" value="/image_raw_1" />
    </node>

    <!-- Subscriber node for the second camera -->
    <node name="image_subscriber_2" pkg="testpackage" type="image_subscriber.py" args="/image_raw_2" output="screen">
        <param name="topic_name" type="string" value="/image_raw_2" />
    </node>
</launch>